body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}


/*HEADER*/

header{ 
    background-color: #4682b4;
    color:#fff;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

header h1 {
    font-size: 24px;
  }  

 

/*HEADER*/
/*=============================================================================================*/
/*FORM*/

  form {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 4px;
    position: relative;
  }
  
  form > input {
    border: none;
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
  }
  
  form > button {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    
  }



/*FORM*/
/*==============================================================================================*/
/*MAIN*/

  main{
    background-color: #f0f0f0;
    max-width: 100ch;
    margin: auto;
    padding: 20px;
  }

/*MAIN*/
/*===============================================================================================*/
/*FOOTER*/

footer{
    background-color: #4682b4;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  footer p {
    margin-bottom: 0;
  }
  
  footer a {
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  footer a[href*='#'] {
    color: white;
  }

  footer a[href]:hover {
    opacity: 0.8;
  }
  /*FOOTER*/
  /*===========================================================================================*/