body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

header{ 
    background-color: #4682b4;
    color:#fff;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

header h1 {
    font-size: 24px;
  }  

  nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    background-color: #343a40;
    padding: 10px;
    margin-bottom: 20px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #ffc107;
  }

  form {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 4px;
  }
  
  form > input {
    border: none
  }
  
  form > button {
    background: royalblue;
    border: none;
    color: #fff;
    padding: 4px 10px
  }

  main{
    background-color: #f0f0f0;
    max-width: 100ch;
    margin: auto;
    padding: 20px;
  }

footer{
    background-color: #4682b4;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  footer p {
    margin-bottom: 0;
  }
  
  footer a {
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  footer a[href*='#'] {
    color: white;
  }

  footer a[href]:hover {
    opacity: 0.8;
  }